@sogrid-poster-size: (4rem * 0.5);
@sogrid-color: magenta;
@sogrid-poster-width: 4em;
@sogrid-poster-padding: 0.5em;
@sogrid-poster-boxed-width: (@sogrid-poster-padding * 2 + @sogrid-poster-width);

main {
  display: block;
  width: 100%;
  position: relative;

  nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    &, ul, li {
      display: inline-block;
      margin: 0;
      padding:0;
    }

    li {
      display: inline-block;
      background-color: white;
      font-size: @sogrid-poster-size;
      font-weight: 700;
      line-height: 1.2;
      width: @sogrid-poster-boxed-width;
      padding: (@sogrid-poster-padding * 0.5) @sogrid-poster-padding;
      box-sizing: border-box;
      box-shadow: 0 0 0.1rem fade(@sogrid-color, 50%);
      text-transform: uppercase;
      transition: 0.33s all;

      span {
        display: inline-block;
      }

      :link,
      :link:hover,
      :visited,
      :visited:hover {
        color: @sogrid-color;
      }

      :link:hover,
      :visited:hover {
        color: black;
      }

      .loop(over, 'nav', 2, 6);
    }

    .index {
      span {
        &:nth-child(1) {
          letter-spacing: 1.8ex;
        }

        &:nth-child(2) {
          letter-spacing: 1.2ex;
        }

        &:nth-child(4) {
          float: right
        }
      }

    }

    .semi-rigid-reading {
      span {
        &:nth-child(1) {
          letter-spacing: 0.75ex;
        }

        &:nth-child(2) {
          letter-spacing: 0.75ex;
        }
      }
    }

  }
}



.loop-over(@selector, @index, @to, @from) when(@selector='nav') {
  @media only screen and (min-width: (@sogrid-poster-size * unit(@sogrid-poster-boxed-width * @index)))
  and (min-height: (@sogrid-poster-size * unit(@sogrid-poster-boxed-width * @index))) {
    font-size: (@sogrid-poster-size * (@index));
  }
}