[submodule "semi-rigid-reading-grid"]
	path = semi-rigid-reading
	url = https://github.com/sogrid/semi-rigid-reading-grid.git
[submodule "unbound-book-scroll"]
	path = unbound-book-scroll
	url = https://github.com/sogrid/unbound-book-scroll.git
