[submodule "semi-rigid-reading-grid"]
	path = unbound-book-scroll
	url = https://github.com/sogrid/semi-rigid-reading-grid.git
[submodule "simple-reflex-reading"]
	path = simple-reflex-reading
	url = https://github.com/sogrid/simple-reflex-reading.git
