//imports
@import "../../bower_components/loopless/dist/less/loop";
@import "utility/wireframe";
@import "index/main";
//defaults
@sogrid-color: gray;

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  .wireframe-grid(1rem, fade(@sogrid-color, 15%));
}

