main {
  display: block;
  width: 100%;
  position: relative;
}
main nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
main nav,
main nav ul,
main nav li {
  display: block;
  margin: 0;
  padding: 0;
}
main nav li {
  background-color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  width: 5em;
  padding: 0.25em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0.1rem rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 0.1rem rgba(128, 128, 128, 0.5);
  text-transform: uppercase;
  -webkit-transition: 0.33s all;
  transition: 0.33s all;
}
main nav li span {
  display: inline-block;
}
main nav li :link,
main nav li :link:hover,
main nav li :visited,
main nav li :visited:hover {
  color: #808080;
}
main nav li :link:hover,
main nav li :visited:hover {
  color: black;
}
@media only screen and (min-width: 20rem) and (min-height: 20rem) {
  main nav li {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 30rem) and (min-height: 30rem) {
  main nav li {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 40rem) and (min-height: 40rem) {
  main nav li {
    font-size: 8rem;
  }
}
@media only screen and (min-width: 50rem) and (min-height: 50rem) {
  main nav li {
    font-size: 10rem;
  }
}
@media only screen and (min-width: 60rem) and (min-height: 60rem) {
  main nav li {
    font-size: 12rem;
  }
}
main nav .index span:nth-child(1) {
  letter-spacing: 1.8ex;
}
main nav .index span:nth-child(2) {
  letter-spacing: 1.2ex;
}
main nav .index span:nth-child(4) {
  float: right;
}
main nav .semi-rigid-reading span:nth-child(1) {
  letter-spacing: 0.75ex;
}
main nav .semi-rigid-reading span:nth-child(2) {
  letter-spacing: 0.75ex;
}
footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1ex 1em;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  color: #808080;
  -webkit-box-shadow: 0 0 0.1rem rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 0.1rem rgba(128, 128, 128, 0.5);
}
footer :link,
footer :visited {
  text-decoration: none;
  color: inherit;
}
footer :link:hover,
footer :visited:hover {
  color: black;
}
footer span:nth-child(1) {
  font-style: italic;
  font-weight: 200;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  min-height: 100vh;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(1px, rgba(128, 128, 128, 0.15)), to(transparent)), linear-gradient(90deg, rgba(128, 128, 128, 0.15) 1px, transparent 1px);
  background-image: -webkit-linear-gradient(0, rgba(128, 128, 128, 0.15) 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(128, 128, 128, 0.15) 1px, transparent 1px);
  background-image: linear-gradient(0, rgba(128, 128, 128, 0.15) 1px, transparent 1px), linear-gradient(90deg, rgba(128, 128, 128, 0.15) 1px, transparent 1px);
  -webkit-background-size: 100% 1rem, 1rem 100%;
  background-size: 100% 1rem, 1rem 100%;
}
